# Example ENV

MONGODB_URI=URI_FOR_MONGODB
JWT_SECRET=SECRET_KEY
EMAIL_USER=EMAIL_WITH_APP_PASSWORD
EMAIL_APP_PASSWORD=APP_PASSWORD
NEXT_PUBLIC_BASE_URL=http://localhost:3001
 
# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# UPI Donation
UPI_ID=your_upi_id@bank
UPI_PAYEE_NAME=JGEC Alumni Pune Chapter
UPI_NOTE_PREFIX=JGEC Donation
